* {
  margin: 0;
  padding: 0;
}
html,
body {
  height: 100vh;
  width: 100vw;
  box-sizing: border-box;
}
.main {
  height: 100%;
  width: 100%;
  background-color: black;
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
  gap: 20px;
}
.card {
  padding-top: 20px;
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border: none;
  border-radius: 10px;
  width: 300px;
  background-color: white;
  box-shadow: 10px 10px 20px rgb(71, 73, 71);
}
.card img {
  height: 100px;
  width: 100px;
  object-fit: cover;
  border-radius: 50%;
}
.card button {
  width: 70px;
  height: 30px;
  background-color: rgb(78, 168, 228);
  font-size: 14px;
  font-weight: 500;
  border: none;
  border-radius: 20px;
}
