*{
    margin: 0;
    padding: 0;
}

html,body{
    height: 100%;
    width: 100%;
    
}
.main{
    width: 100%;
    height: 30%;
    display: flex;
}
.card{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    margin-left: 10%;
    overflow: auto;
    position: relative;
}

.card img{
    height: 100%;
    width: 100%;
    object-fit:cover;
}
.bottom{
    height: 20px;
    width: 100%;
    
}