* {
  margin: 0;
  padding: 0;
}
html,
body {
  height: 100%;
  width: 100%;
}
/* 
main{
    height: 100%;
    width: 100%;
    background-color: black;
    color: wheat;
    display: grid;
    grid-template-columns: 200px 1fr;
    grid-template-rows: 60px 180px 1fr ;
    grid-template-areas: "header header" "aside section" "figure figure";
}

header{
    grid-area: header;
    background-color: pink;
}
section{
    grid-area: section;
    background-color: green;
}
aside{
    grid-area: aside;
    background-color: purple;
}
figure{
    grid-area: figure;
    background-color: blue;
} */
/* 
main {
  height: 100%;
  width: 100%;
  background-color: black;
  color: wheat;
  display: grid;
  grid-gap: 20px;
  padding: 10px;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 70px 1fr 0.5fr 0.5fr;
  grid-template-areas:
    "header header header"
    "section section section"
    "leftdiv top right"
    "leftdiv bottom right";
}

header {
  background-color: green;
  grid-area: header;
}
section {
  grid-area: section;
  background-color: purple;
}

.leftdiv {
  grid-area: leftdiv;
  background-color: rgb(230, 230, 31);
}
.right {
  grid-area: right;
  background-color: rgb(134, 50, 64);
}
.bottom {
  grid-area: bottom;
  background-color: rgb(22, 90, 150);
}
.top {
  grid-area: top;
  background-color: rgb(56, 179, 138);
} */

/* 
.main{
  height: 100%;
  width: 100%;
  background-color: black;
  display: grid;
  grid-template-rows: 200px 1fr;
  grid-template-columns: 1fr 1fr ;
  grid-template-areas: "header header header"
  "aside section"
  "footer footer footer";
}

header{
  background-color: green;
  grid-area: header;
}
aside{
  background-color: aqua;
  
}
section{
  background-color: purple;
}
footer{
  background-color: pink;
} */

.main {
  height: 100%;
  width: 100%;
  background-color: aquamarine;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 20% 40% 10% 10%;
  grid-gap: 20px;
  padding: 20px;
  grid-template-areas:
    "header header header"
    "section section section"
    "left up right"
    "left down right";
}

header {
  background-color: purple;
  grid-area: header;
}
section {
  grid-area: section;
  background-color: gray;
}
.left {
  background-color: red;
  grid-area: left;
}
.up {
  grid-area: up;
  background-color: rgb(150, 26, 167);
}
.down {
  grid-area: down;
  background-color: blue;
}

.right {
  grid-area: right;
  background-color: #18c218;
}

.second {
  margin-top: 2px;
  height: 100%;
  width: 100%;
  background-color: crimson;
  display: grid;
  grid-template-columns: 40% 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-gap: 20px;
  grid-template-areas:
    "div1 div2 div3"
    "div1 div4 div5"
    "div6 div6 div5";
}

.div1 {
  background-color: blueviolet;
  grid-area: div1;
}
.div2 {
  grid-area: div2;
  background-color: aqua;
}
.div3 {
  grid-area: div3;
  background-color: brown;
}

.div4 {
  grid-area: div4;
  background-color: darkcyan;
}
.div5 {
  grid-area: div5;
  background-color: chocolate;
}
.div6 {
  grid-area: div6;
  background-color: olive;
}
